@media (max-width: 1340px) {
  .section {
    width: 500px;
  }
}

@media (max-width: 1260px) {
  .section {
    width: 450px;
  }
}

@media (max-width: 1150px) {
  .section {
    width: 420px;
  }
}

@media (max-width: 1070px) {
  .section {
    width: 400px;
  }
}

@media (max-width: 1015px) {
  .section {
    width: 370px;
  }
}

@media (max-width: 950px) {
  .section {
    width: 350px;
  }
}

@media (max-width: 920px) {
  .section {
    width: 320px;
  }
}

@media (max-width: 835px) {
  .section {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .grid-portfolio {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .section {
    width: 100%;
  }

  .end-triangle {
    width: 55%;
  }
}

@media (max-width: 767px) {
  .pie:after {
    height: 4.8em;
    width: 4.8em;
  }

  .pie,
  .number {
    width: 5em;
    height: 5em;
  }

  h5 {
    width: 100%;
  }

  .svg-line {
    margin: 0px 0 0 50px;
  }
}

@media (max-width: 600px) {
  .header__nav li {
    font-size: 2vw;
  }

  .margin-top {
    margin-top: 40px;
  }

  .margin-top-80 {
    margin-top: 60px;
  }

  .about,
  .contact {
    margin-bottom: 20px;
    height: 450px;
  }

  .about-p {
    width: 100%;
  }

  .skills,
  .touch {
    height: 300px;
  }

  .education {
    height: 350px;
  }

  .button-send {
    margin-top: 40px;
  }

  .about,
  .contact {
    height: 400px;
  }

  .margin-top-100 {
    margin-top: 60px;
  }

  .icon-touch {
    width: 20px;
    height: 20px;
  }

  .p-name-touch {
    font-size: 3vh;
  }

  .text-center {
    font-size: 2vh;
  }

  .margin-left {
    margin-left: 40px;
  }
}

@media (max-width: 400px) {}